html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  position: relative;
  background-image: url('./bgs.png');
  background-size: contain;
  height: 100%;
  text-align: center;
}

.title {
  margin: 160px auto 0;
}

.head {
  margin: 40px auto 0;
  width: calc(90%);
}

.logo {
  margin-top: 80px;
  width: 320px;
}

.arrow_1 {
  position: absolute;
  top: 20px;
  left: 260px;
  animation: anime1 900ms infinite 10ms alternate
}

.arrow_2 {
  position: absolute;
  top: 20px;
  left: 480px;
  animation: anime1 900ms infinite 10ms alternate
}

.arrow_3 {
  position: absolute;
  top: 20px;
  left: 700px;
  animation: anime1 900ms infinite 10ms alternate
}

.arrow_4 {
  position: absolute;
  top: 20px;
  left: 910px;
  animation: anime1 900ms infinite 10ms alternate
}

@keyframes anime1 {
  0% {
    top: 10px;
  }
  100% {
    top: 20px;
  }
}
